<!DOCTYPE>
<html>
<head>
  <title>Update</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM9sybJf32th8rh2nxu70iZfLAa1PZr8EqBg&usqp=CAU');">
  <div style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM9sybJf32th8rh2nxu70iZfLAa1PZr8EqBg&usqp=CAU');" class="jumbotron text-center">
    <h1 class="text-center">Update</h1>
    <hr><br>
    <form method="post" action="">
      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Email: </label>
        <input class="col-lg-4" required type="text" id="email" name="email" value="{{user.email}}">
        
      </div><br>

      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Tên: </label>
        <input class="col-lg-4" required type="text" id="names" name="names" value="{{user.names}}">
      </div><br>

      <div class="row">
        <span class="col-lg-2"></span>
        <label class="col-lg-2">Password: </label>
        <input class="col-lg-4" required type="password" id="password" name="password" value="{{user.password}}">
      </div><br>
    <br>

      <div class="text-center">
      <button type="submit" class="btn btn-primary">Thêm</button>
      </div>

    </form>
  </div>
</body>
</html>
